<%-# encoding: utf-8 -%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    
  <style type="text/css">
		#outlook a{
			padding:0;
		}
		body{
			width:100% !important;
			min-width:100%;
			background-color:#ffffff;
			-webkit-text-size-adjust:100%;
			-ms-text-size-adjust:100%;
			margin:0;
			padding:0;
		}
		.ExternalClass{
			width:100%;
		}
		.ExternalClass,.ExternalClass p,.ExternalClass span,.ExternalClass font,.ExternalClass td,.ExternalClass div{
			line-height:100%;
		}
		#backgroundTable{
			margin:0;
			padding:0;
			width:100% !important;
			line-height:100% !important;
		}
		img{
			outline:none;
			text-decoration:none;
			-ms-interpolation-mode:bicubic;
			width:auto;
			max-width:100%;
			float:left;
			clear:both;
			display:block;
		}
		.center{
			width:100%;
			min-width:580px;
		}
		a img{
			border:none;
		}
		p{
			margin:0 0 0 10px;
		}
		table{
			border-spacing:0;
			border-collapse:collapse;
		}
		td{
			word-break:break-word;
			-webkit-hyphens:auto;
			-moz-hyphens:auto;
			hyphens:auto;
			border-collapse:collapse !important;
		}
		table,tr,td{
			padding:0;
			vertical-align:top;
			text-align:left;
		}
		table #table-list th{
			font-size:11px;
			color:#c1c1c1;
			text-transform:uppercase;
			font-weight:normal;
			padding:8px;
			padding-bottom:3px !important;
			border-bottom:1px solid #eee;
		}
		table #table-list td{
			padding:8px;
			border-bottom:1px solid #eee;
		}
		hr{
			color:#d9d9d9;
			background-color:#d9d9d9;
			height:1px;
			border:none;
		}
		table.body{
			height:100%;
			width:100%;
		}
		table.container{
			width:580px;
			margin-right:auto !important;
			margin-left:auto !important;
			text-align:inherit;
		}
		table.row{
			padding:0px;
			width:100%;
			position:relative;
		}
		table.container table.row{
			display:block;
		}
		td.wrapper{
			padding:10px;
			position:relative;
		}
		table.columns,table.column{
			margin:0 auto;
		}
		table.columns td,table.column td{
			padding:0px 0px 10px;
		}
		table.columns td.sub-columns,table.column td.sub-columns,table.columns td.sub-column,table.column td.sub-column{
			padding-right:10px;
		}
		td.sub-column,td.sub-columns{
			min-width:0px;
		}
		table.row td.last,table.container td.last{
			padding-right:0px;
		}
		table.one{
			width:30px;
		}
		table.two{
			width:80px;
		}
		table.three{
			width:130px;
		}
		table.four{
			width:180px;
		}
		table.five{
			width:230px;
		}
		table.six{
			width:280px;
		}
		table.seven{
			width:330px;
		}
		table.eight{
			width:380px;
		}
		table.nine{
			width:430px;
		}
		table.ten{
			width:480px;
		}
		table.eleven{
			width:530px;
		}
		table.twelve{
			width:580px;
		}
		table.one .center{
			min-width:30px;
		}
		table.two .center{
			min-width:80px;
		}
		table.three .center{
			min-width:130px;
		}
		table.four .center{
			min-width:180px;
		}
		table.five .center{
			min-width:230px;
		}
		table.six .center{
			min-width:280px;
		}
		table.seven .center{
			min-width:330px;
		}
		table.eight .center{
			min-width:380px;
		}
		table.nine .center{
			min-width:430px;
		}
		table.ten .center{
			min-width:480px;
		}
		table.eleven .center{
			min-width:530px;
		}
		table.twelve .center{
			min-width:580px;
		}
		table.one .panel .center{
			min-width:10px;
		}
		table.two .panel .center{
			min-width:60px;
		}
		table.three .panel .center{
			min-width:110px;
		}
		table.four .panel .center{
			min-width:160px;
		}
		table.five .panel .center{
			min-width:210px;
		}
		table.six .panel .center{
			min-width:260px;
		}
		table.seven .panel .center{
			min-width:310px;
		}
		table.eight .panel .center{
			min-width:360px;
		}
		table.nine .panel .center{
			min-width:410px;
		}
		table.ten .panel .center{
			min-width:460px;
		}
		table.eleven .panel .center{
			min-width:510px;
		}
		table.twelve .panel .center{
			min-width:560px;
		}
		.body .columns td.one,.body .column td.one{
			width:8.333333%;
		}
		.body .columns td.two,.body .column td.two{
			width:16.666666%;
		}
		.body .columns td.three,.body .column td.three{
			width:25%;
		}
		.body .columns td.four,.body .column td.four{
			width:33.333333%;
		}
		.body .columns td.five,.body .column td.five{
			width:41.666666%;
		}
		.body .columns td.six,.body .column td.six{
			width:50%;
		}
		.body .columns td.seven,.body .column td.seven{
			width:58.333333%;
		}
		.body .columns td.eight,.body .column td.eight{
			width:66.666666%;
		}
		.body .columns td.nine,.body .column td.nine{
			width:75%;
		}
		.body .columns td.ten,.body .column td.ten{
			width:83.333333%;
		}
		.body .columns td.eleven,.body .column td.eleven{
			width:91.666666%;
		}
		.body .columns td.twelve,.body .column td.twelve{
			width:100%;
		}
		td.offset-by-one{
			padding-left:50px;
		}
		td.offset-by-two{
			padding-left:100px;
		}
		td.offset-by-three{
			padding-left:150px;
		}
		td.offset-by-four{
			padding-left:200px;
		}
		td.offset-by-five{
			padding-left:250px;
		}
		td.offset-by-six{
			padding-left:300px;
		}
		td.offset-by-seven{
			padding-left:350px;
		}
		td.offset-by-eight{
			padding-left:400px;
		}
		td.offset-by-nine{
			padding-left:450px;
		}
		td.offset-by-ten{
			padding-left:500px;
		}
		td.offset-by-eleven{
			padding-left:550px;
		}
		td.expander{
			visibility:hidden;
			width:0px;
			padding:0 !important;
		}
		table.columns .text-pad,table.column .text-pad{
			padding-left:10px;
			padding-right:10px;
		}
		table.columns .left-text-pad,table.columns .text-pad-left,table.column .left-text-pad,table.column .text-pad-left{
			padding-left:10px;
		}
		table.columns .right-text-pad,table.columns .text-pad-right,table.column .right-text-pad,table.column .text-pad-right{
			padding-right:10px;
		}
		.block-grid{
			width:100%;
			max-width:580px;
		}
		.block-grid td{
			display:inline-block;
			padding:10px;
		}
		.two-up td{
			width:270px;
		}
		.three-up td{
			width:173px;
		}
		.four-up td{
			width:125px;
		}
		.five-up td{
			width:96px;
		}
		.six-up td{
			width:76px;
		}
		.seven-up td{
			width:62px;
		}
		.eight-up td{
			width:52px;
		}
		table.center,td.center{
			text-align:center;
		}
		h1.center,h2.center,h3.center,h4.center,h5.center,h6.center{
			text-align:center;
		}
		span.center{
			display:block;
			width:100%;
			text-align:center;
		}
		img.center{
			margin:0 auto;
			float:none;
		}
		.show-for-small,.hide-for-desktop{
			display:none;
		}
		body,table.body,h1,h2,h3,h4,h5,h6,p,td{
			color:#333333;
			font-family:"Helvetica", "Arial", sans-serif;
			font-size:14px;
			font-weight:normal;
			padding:0;
			margin:0;
			text-align:left;
			line-height:1.3;
		}
		h1,h2,h3,h4,h5,h6{
			word-break:normal;
		}
		h1{
			font-size:40px;
		}
		h2{
			font-size:36px;
		}
		h3{
			font-size:32px;
		}
		h4{
			font-size:28px;
		}
		h5{
			font-size:24px;
		}
		h6{
			font-size:20px;
		}
		body,table.body,p,td{
			font-size:14px;
			line-height:19px;
		}
		p.lead,p.lede,p.leed{
			font-size:18px;
			line-height:21px;
		}
		p{
			margin-bottom:10px;
		}
		small{
			font-size:10px;
		}
		a{
			color:#1da5d6;
			text-decoration:none;
		}
		a:hover{
			color:#166aa1 !important;
		}
		a:active{
			color:#166aa1 !important;
		}
		a:visited{
			color:#1da5d6 !important;
		}
		h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
			color:#1da5d6;
		}
		h1 a:active,h2 a:active,h3 a:active,h4 a:active,h5 a:active,h6 a:active{
			color:#166aa1 !important;
		}
		h1 a:visited,h2 a:visited,h3 a:visited,h4 a:visited,h5 a:visited,h6 a:visited{
			color:#1da5d6 !important;
		}
		.panel{
			padding:0!important;
		}
		.panel-stats{
			/*border-right:1px solid #eee;*/
			line-height:0 !important;
		}
		.panel-grey{
			background:#eeeeee;
		}
		.sub-grid table{
			width:100%;
		}
		.sub-grid td.sub-columns{
			padding-bottom:0;
		}
		table.button,table.tiny-button,table.small-button,table.medium-button,table.large-button{
			width:100%;
			overflow:hidden;
		}
		table.button td,table.tiny-button td,table.small-button td,table.medium-button td,table.large-button td{
			display:block;
			width:auto !important;
			text-align:center;
			background:#2ba6cb;
			border:1px solid #2284a1;
			color:#ffffff;
			padding:8px 0;
		}
		table.tiny-button td{
			padding:5px 0 4px;
		}
		table.small-button td{
			padding:8px 0 7px;
		}
		table.medium-button td{
			padding:12px 0 10px;
		}
		table.large-button td{
			padding:21px 0 18px;
		}
		table.button td a,table.tiny-button td a,table.small-button td a,table.medium-button td a,table.large-button td a{
			font-weight:bold;
			text-decoration:none;
			font-family:Helvetica, Arial, sans-serif;
			color:#ffffff;
			font-size:16px;
		}
		table.tiny-button td a{
			font-size:12px;
			font-weight:normal;
		}
		table.small-button td a{
			font-size:16px;
		}
		table.medium-button td a{
			font-size:20px;
		}
		table.large-button td a{
			font-size:24px;
		}
		table.button:hover td,table.button:visited td,table.button:active td{
			background:#2795b6 !important;
		}
		table.button:hover td a,table.button:visited td a,table.button:active td a{
			color:#fff !important;
		}
		table.button:hover td,table.tiny-button:hover td,table.small-button:hover td,table.medium-button:hover td,table.large-button:hover td{
			background:#2795b6 !important;
		}
		table.button:hover td a,table.button:active td a,table.button td a:visited,table.tiny-button:hover td a,table.tiny-button:active td a,table.tiny-button td a:visited,table.small-button:hover td a,table.small-button:active td a,table.small-button td a:visited,table.medium-button:hover td a,table.medium-button:active td a,table.medium-button td a:visited,table.large-button:hover td a,table.large-button:active td a,table.large-button td a:visited{
			color:#ffffff !important;
		}
		table.btn-ax td{
			background:#1da5d6;
			border-color:#428bca;
			color:#fff;
		}
		table.btn-ax td a{
			color:#fff;
		}
		table.btn-ax:hover td{
			background:#1a92ba !important;
			color:#fff;
		}
		table.btn-ax:hover td a,table.btn-ax td a:visited,table.btn-ax:active td a{
			color:#fff !important;
		}
		table.secondary td{
			background:#eeeeee;
			border-color:#d0d0d0;
			color:#555;
		}
		table.secondary td a{
			color:#555;
		}
		table.secondary:hover td{
			background:#e5e5e5 !important;
			color:#555;
		}
		table.secondary:hover td a,table.secondary td a:visited,table.secondary:active td a{
			color:#555 !important;
		}
		table.success td{
			background:#1CAF9A;
			border-color:#17a08c;
		}
		table.success:hover td{
			background:#17a08c !important;
			border-color:#119380 !important;
		}
		table.alert td{
			background:#c60f13;
			border-color:#970b0e;
		}
		table.alert:hover td{
			background:#970b0e !important;
		}
		table.radius td{
			-webkit-border-radius:3px;
			-moz-border-radius:3px;
			border-radius:3px;
		}
		table.round td{
			-webkit-border-radius:500px;
			-moz-border-radius:500px;
			border-radius:500px;
		}
		body.outlook p{
			display:inline !important;
		}
	@media only screen and (max-width: 600px){
		table.row.main-stats td{
			margin-right:25% !important;
			margin-left:25% !important;
		}

}	@media only screen and (max-width: 600px){
		.panel-stats{
			border-bottom:1px solid #eee;
			border-right:none !important;
		}

}	@media only screen and (max-width: 600px){
		.hidden-xs{
			display:none !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] img{
			width:auto !important;
			height:auto !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .center{
			min-width:0 !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .container{
			width:95% !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .row{
			width:100% !important;
			display:block !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .wrapper{
			display:block !important;
			padding-right:0 !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .columns,table[class=body] .column{
			table-layout:fixed !important;
			float:none !important;
			width:100% !important;
			padding-right:0px !important;
			padding-left:0px !important;
			display:block !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .wrapper.first .columns,table[class=body] .wrapper.first .column{
			display:table !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] table.columns td,table[class=body] table.column td{
			width:100% !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .columns td.one,table[class=body] .column td.one{
			width:8.333333% !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .columns td.two,table[class=body] .column td.two{
			width:16.666666% !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .columns td.three,table[class=body] .column td.three{
			width:25% !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .columns td.four,table[class=body] .column td.four{
			width:33.333333% !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .columns td.five,table[class=body] .column td.five{
			width:41.666666% !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .columns td.six,table[class=body] .column td.six{
			width:50% !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .columns td.seven,table[class=body] .column td.seven{
			width:58.333333% !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .columns td.eight,table[class=body] .column td.eight{
			width:66.666666% !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .columns td.nine,table[class=body] .column td.nine{
			width:75% !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .columns td.ten,table[class=body] .column td.ten{
			width:83.333333% !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .columns td.eleven,table[class=body] .column td.eleven{
			width:91.666666% !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .columns td.twelve,table[class=body] .column td.twelve{
			width:100% !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] td.offset-by-one,table[class=body] td.offset-by-two,table[class=body] td.offset-by-three,table[class=body] td.offset-by-four,table[class=body] td.offset-by-five,table[class=body] td.offset-by-six,table[class=body] td.offset-by-seven,table[class=body] td.offset-by-eight,table[class=body] td.offset-by-nine,table[class=body] td.offset-by-ten,table[class=body] td.offset-by-eleven{
			padding-left:0 !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] table.columns td.expander{
			width:1px !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .right-text-pad,table[class=body] .text-pad-right{
			padding-left:10px !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .left-text-pad,table[class=body] .text-pad-left{
			padding-right:10px !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .hide-for-small,table[class=body] .show-for-desktop{
			display:none !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .show-for-small,table[class=body] .hide-for-desktop{
			display:inherit !important;
		}

}		.template-label{
			color:#ffffff;
			font-weight:bold;
			font-size:11px;
		}
		.callout .panel{
			background:#ECF8FF;
			border-color:#b9e5ff;
		}
		.preheader{
			background:#ffffff;
		}
		.footer .wrapper{
			background:#ffffff;
		}
		.footer h5{
			padding-bottom:10px;
		}
		table.columns .text-pad{
			padding-left:10px;
			padding-right:10px;
		}
		table.columns .left-text-pad{
			padding-left:10px;
		}
		table.columns .right-text-pad{
			padding-right:10px;
		}
	@media only screen and (max-width: 600px){
		table[class=body] .right-text-pad{
			padding-left:0 !important;
		}

}	@media only screen and (max-width: 600px){
		table[class=body] .left-text-pad{
			padding-right:0 !important;
		}

}</style></head>
  <body bgcolor="#FFFFFF">
    <table class="body" style="background-color:#ffffff">
      <tr>
        <td class="center" align="center" valign="top">
          <center>

            <!-- BEGIN PREHEADER // -->
            <table class="row preheader">
              <tr>
                <td class="center" align="center">
                  <center>

                    <table class="container">
                      <tr>
                        <td class="wrapper last">

                          <table class="twelve columns preheaderContent">
                            <tr>

                              <td class="seven sub-columns" style="font-size:11px;line-height:1.2;">
                                <%= t("wr_preheader1") %>
                              </td>
                              <td class="five sub-columns last" align="right" style="font-size:11px;line-height:1.2; text-align:right; padding-bottom:0;" mc:edit="preheader_content01">
                              <a href="http://www.todeolho.com.br/analytics?utm_source=weekly_report&utm_medium=email&utm_campaign=view_browser" target="_blank"><%= t("wr_preheader2") %></a>.
                              </td>
                              <td class="expander"></td>

                            </tr>
                          </table>

                        </td>
                      </tr>
                    </table>

                  </center>
                </td>
              </tr>
            </table>
            <!-- END PREHEADER // -->

            <!-- BEGIN HEADER // -->
            <table class="container header" style="border-bottom: 1px solid #eeeeee;">
              <tr>
                <td class="wrapper last">

                  <table class="twelve columns headerContent">
                    <tr>

                      <td class="six sub-columns" id="headerImage">
                        <img src="logo.png" width="200" height="43">
                      </td>

                      <td class="six sub-columns last" id="headerText" align="right" style="font-size:11px; color: #c1c1c1;text-transform: uppercase;text-align:right; vertical-align:middle;">
                        <%= t("wr_header_slogan") %>
                      </td>
                      <td class="expander"></td>

                    </tr>
                  </table>

                </td>
              </tr>
            </table>
            <!-- END HEADER // -->

            <br>
            <!-- BEGIN CONTENT // -->
            <table class="container bodyContent">
              <tr>
                <td>

                  <!-- begin welcome // -->
                  <table class="row">
                    <tr>
                      <td class="wrapper last">

                        <table class="twelve columns">
                          <tr>
                            <td>
                              <h5>Olá <span style="color:#1da5d6" mc:edit="username"><%= @user.name %></span>,</h5>
                              <p class="lead welcome_txt" id="welcome_txt">
                                	<%= t("invmail_welcometxt2") %>
                              </p>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <!-- end welcome // -->
                  
                  <table class="row">
                    <tr>
                      <td class="wrapper last">
                        <table class="twelve columns">
                          <tr>
                            <td class="executions-title" style="color:#999;font-size:12px;text-transform:uppercase;text-align:center!important;">
                            	PERIODO
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  
                  

                  <!-- begin stats // -->
                  <table class="row main-stats">
                    <tr>

                      <!-- radio stats -->
                      <td class="wrapper">

                        <table class="three columns">
                          <tr>
                            <td class="panel panel-stats">
                              <img src="img1.png" width="43" heigth="43" alt="Radio" style="margin-right:2px;max-width:43px;margin-top:-1px">
                              <table>
                                <tr>
                                  <td style="font-size:24px; color:#1da5d6; line-height:1; padding:0!important;" mc:edit="radiostats">
                                  	123
                                  </td>
                                </tr>
                                <tr>
                                  <td style="font-size:10px; color:#999; text-transform:uppercase;"><%= t("radio") %></td>
                                </tr>
                              </table>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                      <td class="hidden-xs" style="width:1px;background-color:#eee;margin:0 5px;"></td>

                      <!-- tv stats -->
                      <td class="wrapper">
                        <table class="three columns">
                          <tr>
                            <td class="panel panel-stats">
                              <img src="img2.png" width="50" height="50" alt="TV" style="float:left; margin-right:2px;margin-top:-6px;">
                              <table>
                                <tr>
                                  <td style="font-size:24px; color:#1da5d6; line-height:1; padding:0!important;" mc:edit="tvstats">
									123
                                  </td>
                                </tr>
                                <tr>
                                  <td style="font-size:10px; color:#999; text-transform:uppercase;"><%= t("tv") %></td>
                                </tr>
                              </table>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                      <td class="hidden-xs" style="width:1px;background-color:#eee;margin:0 5px;"></td>

                      <!-- web stats -->
                      <td class="wrapper">
                        <table class="three columns">
                          <tr>
                            <td class="panel panel-stats">
                              <img src="http://gallery.mailchimp.com/fe555de19ff881b743188a5f4/images/c72e107d-9f50-45c9-aa30-523afda2b596.png" width="50" height="50" alt="Websites" style="margin-right:3px;max-width:50px;margin-top:-4px;">
                              <table>
                                <tr>
                                  <td style="font-size:24px; color:#1da5d6; line-height:1; padding:0!important;" mc:edit="websitestats">
									123
                                </td>
                                </tr>
                                <tr>
                                  <td style="font-size:10px; color:#999; text-transform:uppercase;"><%= t("websites") %></td>
                                </tr>
                              </table>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                      <td class="hidden-xs" style="width:1px;background-color:#eee;margin:0 5px;"></td>

                      <td class="wrapper last">
                        <table class="three columns">
                          <tr>
                            <td class="panel">
                              <img src="http://gallery.mailchimp.com/fe555de19ff881b743188a5f4/images/0e028658-30c3-499c-8d7b-5db6e243fd75.png" width="47" height="47" alt="Webradios" style="margin-right:2px;max-width:47px;margin-top:-3px;">
                              <table>
                                <tr>
                                  <td style="font-size:24px; color:#1da5d6; line-height:1; padding:0!important;" mc:edit="webradiostats">
                                  	123
                                  </td>
                                </tr>
                                <tr>
                                  <td style="font-size:10px; color:#999; text-transform:uppercase;"><%= t("webradios") %></td>
                                </tr>
                              </table>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>

                    </tr>
                  </table>

                  <br>

                  <table class="medium-button btn-ax">
                    <tr>
                      <td>
                        <a class="call_to_action" href="http://www.todeolho.com.br/analytics?utm_source=weekly_report&utm_medium=email&utm_campaign=full_report" mc:edit="linkfullreport">
                          <%= t("mail_fullreport") %>
                        </a>
                      </td>
                    </tr>
                  </table>
                  <!-- end call-to-action // -->
                  <br><br>

                  <!-- begin table top // -->
                  <table class="container">
                    <tr>
                      <td>
                        <h5 style="color:#1da5d6!important"><%= t("mail_topsongs") %></h5>
                        <table id="table-list" style="min-width:100%">
                          <tr>
                          	<th style="width:20%; white-space: nowrap;"><%= t("audio_source") %></th>
                            <th style="width:50%;white-space: nowrap;"><%= t("song") %></th>
                            <th style="width:15%;white-space: nowrap;"><%= t("plays") %></th>
                            <th class="hidden-xs"><%= t("royalties") %></th>
                          </tr>
                              <tr>
                              	<td><span style="font-size:11px; color:#1da5d6; background-color:#eee; padding:5px;white-space: nowrap;">Titulo</span></td>
                                <td>Nome</td>
                                <td>Plays</td>
                                <td class="hidden-xs">$$$</td>
                              </tr>
                        </table>
                        <br>
                      </td>
                    </tr>
                  </table>

                  <table class="row">
                    <tr>
                      <td class="wrapper last">
                        <table class="twelve columns">
                          <tr>
                            <td>
                            	<a href="http://www.todeolho.com.br/analytics?utm_source=weekly_report&utm_medium=email&utm_campaign=all_songs" mc:edit="tslink" style="float:right;text-decoration:underline;">
                            		<%= t("mail_seeall") %> <%= t("songs") %></a>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <!-- end table top // -->

                  <br>
                  

                  <!-- end table top locations // -->
                  
                  <br>

                  <!-- begin about // -->
                  <table class="row">
                    <tr>
                      <td class="wrapper last">

                        <table class="twelve columns">
                          <tr>
                            <td>
                              <h5 style="color:#1da5d6;"><%= t("invmail_abouthead") %></h5>
                              <p class="about">
                                <%= t("invmail_abouttxtp1") %><br>
                                <br>
                                <%= t("invmail_abouttxtp2") %><br>
                                <br>
                                <%= t("invmail_abouttxtp3") %><br>
                                <%= t("mail_bye") %>,<br>
                                <br>
                                Tô DE OLHO<br>
                                <a href="http://todeolho.com.br">http://todeolho.com.br</a>
                              </p>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>
                  <!-- end about // -->

                  <br>

                  <table class="row footer" style="border-top: 1px solid #eeeeee">
                    <tr>
                      <td class="wrapper">

                        <table class="eight columns">
                          <tr>
                            <td class="left-text-pad">

                              <table mc:edit="footer_content00">
                                <tr>
                                  <td style="margin-top:-10px;">
                                    <a href="http://twitter.com/todeolho"><img src="http://gallery.mailchimp.com/fe555de19ff881b743188a5f4/images/8a56e564-c470-490b-af40-265896409b49.png" width="32" height="32" alt="Twitter" style="max-width:32px;margin-right:10px"></a>
                                  </td>
                                  <td>
                                    <a href="http://facebook.com/todeolho"><img src="http://gallery.mailchimp.com/fe555de19ff881b743188a5f4/images/4ff5ac3f-c304-4e7b-bb00-87cccd2412f9.png" width="32" height="32" alt="Facebook" style="max-width:32px;margin-right:10px"></a>
                                  </td>
                                  <td>
                                    <a href="http://plus.google.com/todeolho"><img src="http://gallery.mailchimp.com/fe555de19ff881b743188a5f4/images/2096ad01-a139-4e03-9598-6b35d7618131.png" width="32" height="32" alt="Google+" style="max-width:32px;margin-right:10px"></a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                      <td class="wrapper last">

                        <table class="four columns" mc:edit="footer_content01">
                          <tr>
                            <td class="last right-text-pad">
                              <table class="tiny-button success">
                                <tr>
                                  <td>
                                    <a href="http://www.todeolho.com.br/partners?utm_source=weekly_report&utm_medium=email&utm_campaign=invite_friend" style="text-transform:uppercase;"><%= t("mail_sent2friend") %></a>
                                  </td>
                                </tr>
                              </table>

                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                        <br>
                      </td>
                    </tr>
                  </table>

                  <!-- container end below -->
                </td>
              </tr>
            </table>

          </center>
        </td>
      </tr>
    </table>
  </body>
</html>