
<%= render partial: "shared/flash_messages", flash: flash %>

<% content_for :header do %>
  <div class="firula">
    <div class="yellow"></div>  
    <div class="green"></div>
    <div class="blue"></div>
  </div>
  <section id="home">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <%= image_tag "logo_todeolho.svg", id: "home-logo" %>
          <h2 id="home-welcome"><span>Seja bem-vindo ao</span><strong>Tô de Olho</strong></h2>
          <p id="home-text">Aqui você pode saber mais sobre seu político preferido e acompanha suas movimentações em seu gabinete.</p>
          <input type="text" id="home-search" class="form-control" placeholder="Busque por um político">  
          <a href="#" id="home-next-content"><span>ENTENDA COMO FUNCIONA</span></a>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
</section>
<% end %>

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="resume">
          <h2>O que é o <strong>Tô de Olho?</strong></h2> 
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nemo, repellendus? Rem ipsa impedit aliquam magnam, non molestias, assumenda possimus!</p>
        </div>

        <div class="row">
          <div class="col-md-4">
            <%= image_tag "img_procurepolitico.svg", class: "img-inf" %>
          </div>
          <div class="col-md-8 left-align text-inf">
            <h3 class="yellow">Procure sobre o seu político</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum voluptatem officiis quibusdam, est perspiciatis explicabo, atque tempore perferendis necessitatibus mollitia, doloribus minima magnam sapiente natus possimus a velit reprehenderit. Id.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 arrow-space">
            <%= image_tag "arrow-right.svg", class: "arrow-right" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 right-align text-inf">
            <h3 class="green">Leia o seu histórico e fique de olho</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quisquam veniam earum doloremque aspernatur excepturi assumenda rerum cum in quibusdam reprehenderit repudiandae praesentium, omnis animi rem ea inventore cumque neque.</p>
          </div>
          <div class="col-md-4">
            <%= image_tag "img_vejadetalhes.svg", class: "img-inf" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 arrow-space left">
            <%= image_tag "arrow-left.svg", class: "arrow-left" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <%= image_tag "img_emails.svg", class: "img-inf" %>         
          </div>
          <div class="col-md-8 left-align text-inf">
            <h3 class="blue">Receba as notificações via e-mail</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, incidunt maiores quaerat! Quod suscipit, mollitia error explicabo quaerat sunt non consequuntur quo eligendi, sed provident debitis praesentium, molestias, ex voluptate.</p>
          </div>
        </div>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
