<% content_for :header do %>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to root_path, class: "navbar-brand", "data-no-turbolink" => true do %>
            <img src="<%= image_url 'simbolo.png' %>" alt="">
            <% end %>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" id="searchPolitician" class="form-control search" placeholder="Procurar por político">
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</nav>
<% end %>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron with-navbar">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <%= render 'politician' %>
        <hr/>
        <p><%= @politician.bio %></p>
        <br>
        <label class='col-sm-2'></label>
        <button class="btn btn-default col-sm-8" id="follow" data-toggle="modal" data-target="#follow-subscribe">Fique de Olho</button>
        <div class="col-sm-2"></div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active"><a href="#" id="notifications-button">NOTIFICAÇÕES</a></li>
        <li><a href="#" id="infos-button">INFOS</a></li>
      </ul>
      <div id="notifications-section">
        <div class="row">
        <% @notifications.each do |notification| %>
          <div class="col-md-6">
            <div class="dialog">
              <div class="thumb small-thumb dialog-img"><%= image_tag 'simbolo.png' %></div>
              <div class="dialog-box">
                <h4><%= notification.category %></h4>
                <span><%= time_ago_in_words notification.created_at %></span>
                <p><%= raw(notification.message) %></p>
              </div>
            </div>
         </div>
         <% end %>
      </div>
    </div>
      <div id="infos-section">
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div class="thumb circle-small-thumb info-img"></div>
              <strong>ESTADO</strong>
              <span><%= @politician.state %></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="thumb circle-small-thumb info-img"></div>
              <strong>Título</strong>
              <span><%= @politician.title %></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="thumb circle-small-thumb info-img"></div>
              <strong>CASA</strong>
              <span><%= @politician.house %></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div class="thumb circle-small-thumb info-img"></div>
              <strong>CARGOS PASSADOS</strong>
              <span><%= @politician.past_jobs %></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="thumb circle-small-thumb info-img"></div>
              <strong>PARTIDOS PASSADOS</strong>
              <span><%= @politician.past_parties %></span>
            </div>
          </div>
        </div>
        <div class="history">
          <h4>Hitórico de cargos</h4>
        <p><%= @politician.job_title %></p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div> <!-- /container -->

<div class="modal fade" id="follow-subscribe" tabindex="-1" role="dialog" aria-labelledby="follow-subscribe" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3>Fique de olho em:</h3>
        <hr>
        <%= render :partial => "politician", locals: {hide_social: true} %>
        <hr>
        <p>Preencha os campos para seguir <strong><%= @politician.name %></strong> e receber informações sobre sua movimentação.</p>
        <%= form_for User.new, remote: true do |f| %>
        <form role="form">
          <div class="form-group">
            <input type="hidden" name="politician_id" value="<%= @politician.id %>" />
            <%= f.text_field :name, class: "form-control", placeholder: "Nome" %>
          </div>
          <div class="form-group">
            <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
          </div>
          <div class="form-group">
            <%= f.text_field :phone, class: "form-control", placeholder: "Telefone" %>
          </div>
          <button type="submit" class="btn btn-default">Cadastrar</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
