<script>
$(function() {
  $("#searchPolitician").select2({
    placeholder: "Search for a movie",
    minimumInputLength: 1,
        ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
        url: "http://api.rottentomatoes.com/api/public/v1.0/movies.json",
        dataType: 'json',
        data: function (term, page) {
          return {
                    q: term, // search term
                    page_limit: 10,
                    apikey: "ju6z9mjyajq2djue3gbvv26t" // please do not use so this example keeps working
                  };
                },
            results: function (data, page) { // parse the results into the format expected by Select2.
                // since we are using custom formatting functions we do not need to alter remote JSON data
                return {results: data.movies};
              }
            },
            initSelection: function(element, callback) {
            // the input tag has a value attribute preloaded that points to a preselected movie's id
            // this function resolves that id attribute to an object that select2 can render
            // using its formatResult renderer - that way the movie name is shown preselected
            var id=$(element).val();
            if (id!=="") {
              $.ajax("http://api.rottentomatoes.com/api/public/v1.0/movies/"+id+".json", {
                data: {
                  apikey: "ju6z9mjyajq2djue3gbvv26t"
                },
                dataType: "jsonp"
              }).done(function(data) { callback(data); });
            }
          },
        // formatResult: movieFormatResult, // omitted for brevity, see the source of this page
        // formatSelection: movieFormatSelection,  // omitted for brevity, see the source of this page
        dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
        escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
      });
      
      $('#notifications-button').click(function() {
        $('.active').removeClass();
        $(this).closest('li').addClass('active');
        $('#infos-section').hide();
        $('#notifications-section').show();
        return false;
      });

     $('#infos-button').click(function() {
      $('.active').removeClass();
      $(this).closest('li').addClass('active');
      $('#notifications-section').hide();
      $('#infos-section').show();
      return false;
    });
  });
</script>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">To de Olho!</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <input type="text" id="searchPolitician" class="form-control">
          </form>
        </div><!--/.navbar-collapse -->
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron with-navbar">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="thumb circle-medium-thumb" id="politician-photo" style="background-image:url(<%= @politician.image %>);background-position:center"></div>
        <div id="social-icons">
          <i class="fa fa-twitter"></i>
          <i class="fa fa-facebook-square"></i>
          <i class="fa fa-globe"></i>
        </div>
        <h2><%= @politician.nickname %></h2>
        <p><%= @politician.party %></p>
        <hr/>
        <p><%= @politician.bio %></p>
        <label class='col-sm-2'></label>
        <a class="btn btn-default col-sm-8" id="follow">FIQUE DE OLHO</a>
        <div class="col-sm-2"></div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active"><a href="#" id="notifications-button">NOTIFICAÇÕES</a></li>
        <li><a href="#" id="infos-button">INFOS</a></li>
      </ul>
      <div id="notifications-section">
        <div class="row">
          <div class="col-md-6">
            
            <div class="dialog">
              <div class="thumb small-thumb dialog-img"></div>  
              <div class="dialog-box">
                <h4>Projeto</h4>
                <span>23/08/2014 - 13:00</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consectetur, iusto ratione sunt, consequuntur beatae!</p>
              </div>
            </div>
            
            <div class="dialog">
              <div class="thumb small-thumb dialog-img"></div>  
              <div class="dialog-box">
                <h4>Patrimônio</h4>
                <span>23/08/2014 - 13:00</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consectetur, iusto ratione sunt, consequuntur beatae!</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="dialog">
              <div class="thumb small-thumb dialog-img"></div>  
              <div class="dialog-box">
                <h4>Processo</h4>
                <span>23/08/2014 - 13:00</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consectetur, iusto ratione sunt, consequuntur beatae!</p>
              </div>
            </div>
            <div class="dialog">
              <div class="thumb small-thumb dialog-img"></div>  
              <div class="dialog-box">
                <h4>Bio</h4>
                <span>23/08/2014 - 13:00</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consectetur, iusto ratione sunt, consequuntur beatae!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="infos-section">
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div class="thumb circle-small-thumb info-img"></div>
              <strong>IDADE</strong>
              <span><%= @politician.age %></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="thumb circle-small-thumb info-img"></div>
              <strong>CPF</strong>
              <span><%= @politician.cpf %></span>
            </div>
          </div>
        </div>
        <div class="history">
          <h4>Hitórico de cargos</h4>
        <p><%= @politician.job_title %></p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div> <!-- /container -->